*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}

main{
    font-size: 40px;
    text-align: center;
    margin-top: 40px;
    color: orange;
}

#barre{
    position:fixed;
    height:100%;
    width:15%;
    top: 0;
    background-color: black;
}

#img1{
    float: left;
    height: 30%;
    margin-top: 50px;
}

#titre{
    text-align: center;
    color: orange;
    font-size: 25px;
}

a {
    text-decoration: none;
    text-align: center;
    color: orange;
}

header a {
    display: block;
    margin-top: 80px;
}

#card{
    position: relative;
    top: 60px;
    left: 350px;
    display: inline-block;
    box-shadow: 4px 4px 4px;
    padding: 5px;
}

#img2 {
    position: absolute;
    right: 150px;
    bottom: 370px;
    width : 450px;
    height : 300px;
}

#card2 {
    position: relative;
    top: 550px;
    right: 15px;
    display: inline-block;
    box-shadow: 4px 4px 4px;
    padding: 5px;
}

#img3 {
    position: absolute;
    left: 370px;
    bottom: -120px;
    width : 450px;
    height : 300px;
}
